* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 200vh;
  padding-top: 222px;
}

/* FIXED TOP SECTION */

.fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* TOP NAVBAR */

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-bar {
  width: 1200px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  width: 346px;
  height: 58px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-icon {
  width: 20px;
}

#flipkart-btn,
#travel-btn {
  width: 163px;
  height: 44px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 35px;
  border-radius: 10px;
  cursor: pointer;
}

#flipkart-btn {
  background: #ffe51f;
}

#travel-btn {
  background: #f0f0f0;
}

.right-content {
  display: flex;
  align-items: center;
  gap: 8px;
}

#location {
  color: #1f1f1f;
}

#select-add {
  color: #1254e7;
}

/* SEARCH HEADER */

.header {
  width: 1200px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  background: #fff;
}

.search-bar {
  width: 813px;
  height: 44px;
  border: 2px solid #2ea1ff;
  border-radius: 12px;
  padding: 0 8px;
  display: flex;
  align-items: center;
}

.search-btn {
  width: 44px;
  height: 40px;
  display: flex;
  align-items: center;
}

#s-btn {
  border: none;
  background: white;
  cursor: pointer;
}

.search-input {
  flex: 1;
}

#s-input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  font-size: 15px;
  background: transparent;
}

.other {
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.login {
  display: flex;
  align-items: center;
}

#login-logo {
  width: 24px;
  height: 24px;
}

#login-op,
#more {
  border: none;
  background: white;
  cursor: pointer;
}

.cart {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* CATEGORIES */

.categories {
  width: 1200px;
  height: 78px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}

.category {
  width: 82px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

.cate-name {
  font-size: 14px;
  margin-top: 4px;
  text-align: center;
}

/* CONTENT BELOW FIXED NAVBAR */

.content {
  width: 1200px;
  padding: 30px 20px;
}

.content h1 {
  margin-bottom: 15px;
}

.content p {
  line-height: 1.6;
}

/* CONTENT */

.content {
  width: 1200px;
  margin-top: 20px;
}

/* BANNERS */

.banner-row {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.banner {
  flex: 1;
  height: 250px;
  border-radius: 18px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PRODUCT SECTIONS */

.product-section {
  padding: 22px;
  border-radius: 20px;
  margin-bottom: 35px;
}

.product-section h2 {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}

.red-section {
  background: #0d96ff;
}

.yellow-section {
  background: #fffb00;
}

.yellow-section h2 {
  color: black;
}

.product-row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.product-card {
  width: 220px;
  height: 340px;
  border-radius: 18px;
    overflow: hidden;
}

.product-card img {
  width: 100%;
  height:100%;
  display: flex;
}

/* Footer */

.footer {
  width: 100%;
  background: #212121;
  margin-top: 40px;
  color: white;
}

.footer-top {
  max-width: 1400px;
  margin: auto;
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
  border-bottom: 1px solid #3a4553;
}

.footer-column {
  display: flex;
  flex-direction: column;
}

.footer-column h4 {
  color: #878787;
  font-size: 13px;
  margin-bottom: 15px;
}

.footer-column a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 8px;
}

.footer-column a:hover {
  text-decoration: underline;
}

.footer-column p {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
}

.address {
  border-left: 1px solid #3a4553;
  padding-left: 30px;
}

.social-icons {
  margin-top: 20px;
  display: flex;
  gap: 18px;
}

.social-icons i {
  font-size: 22px;

}

.blue-text {
  color: #2874f0;
}

.footer-bottom {
  max-width: 1400px;
  margin: auto;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 15px;
}

.footer-item img {
  width: 14px;
}

.payment img {
  height: 22px;
}

.copyright {
  color: white;
  font-size: 15px;
}
